.play {
  left: 15px;
  position: fixed;
  border-style: solid;

  margin-top: 10px;
  width: 36px;
  height: 36px;
  border-width: 18px 0px 18px 36px;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: #202020;
  background-color: white;
}
.pause {
    position: fixed;
    left: 60px;
    margin-top: 10px;
    width: 36px;
    height: 36px;
    border-color: #202020;
    border-style: double;
    border-width: 0px 0px 0px 36px;
    background-color: white;
}

button:focus{
    outline:none;
}

button:hover{
    border-left-color: rgb(214, 153, 20);
}