<app-click></app-click>
<div class = "board">
  <div class = "row">
    <div class = "column"><app-padcolumn [index] = 1></app-padcolumn></div>
    <div class = "column"><app-padcolumn [index] = 2></app-padcolumn></div>
    <div class = "column"><app-padcolumn [index] = 3></app-padcolumn></div>
    <div class = "column"><app-padcolumn [index] = 4></app-padcolumn></div>
    <div class = "column"><app-padcolumn [index] = 5></app-padcolumn></div>
    <div class = "column"><app-padcolumn [index] = 6></app-padcolumn></div>
    <div class = "column"><app-padcolumn [index] = 7></app-padcolumn></div>
    <div class = "column"><app-padcolumn [index] = 8></app-padcolumn></div>
  </div>
</div>

