<app-click></app-click>
<div class = "board">
  <div class = "row">
    <div class = "column"><app-padcolumn></app-padcolumn></div>
    <div class = "column"><app-padcolumn></app-padcolumn></div>
    <div class = "column"><app-padcolumn></app-padcolumn></div>
    <div class = "column"><app-padcolumn></app-padcolumn></div>
    <div class = "column"><app-padcolumn></app-padcolumn></div>
    <div class = "column"><app-padcolumn></app-padcolumn></div>
    <div class = "column"><app-padcolumn></app-padcolumn></div>
    <div class = "column"><app-padcolumn></app-padcolumn></div>
  </div>
</div>

