.row:after{
    content: "";
    display: table;
    clear: both;
}

.row{
    align-content: center;
}

.column{
    float: left;
    width: 70px;
    padding-left: 10px;
    padding-top: 10px;
}

.board{
    background-color: red;
    border-radius: 15px;
    border-color: darkslategray;
    border-style: solid;
    width: 640px;
    height: 360px;
    margin-left: 10px;
}

