<div class = "board">
  <div class = "row">
    <div class = "column"><app-padcolumn [id] = 1></app-padcolumn></div>
    <div class = "column"><app-padcolumn [id] = 2></app-padcolumn></div>
    <div class = "column"><app-padcolumn [id] = 3></app-padcolumn></div>
    <div class = "column"><app-padcolumn [id] = 4></app-padcolumn></div>
    <div class = "column"><app-padcolumn [id] = 5></app-padcolumn></div>
    <div class = "column"><app-padcolumn [id] = 6></app-padcolumn></div>
    <div class = "column"><app-padcolumn [id] = 7></app-padcolumn></div>
    <div class = "column"><app-padcolumn [id] = 8></app-padcolumn></div>
  </div>
</div>
<app-conductor></app-conductor>

