.row:after{
    content: "";
    display: table;
    clear: both;
}

.row{
    align-content: center;
}

.column{
    float: left;
    width: 65px;
    padding-left: 10px;
    padding-top: 10px;
}

.board{
    background-color: rgb(214, 47, 47);
    border-radius: 15px;
    border-color: darkslategray;
    border-style: solid;
    width: 1205px;
    height: 400px;
    margin-left: 10px;
    margin-top: 10px;
}